.icons {
   font-size: 80px; 
   color: white;
}
.fa-bars-staggered{
    position: relative;
    left: 1080px;
    font-size: 40px;
}
.project{
    text-align: center;
    line-height: 2px;
    font-size: xx-large;
    font-family: sans-serif;
    margin-top: 250px;
    color: white;
}
p{
    letter-spacing: 15px;
    
}

.fa-house {
    margin-left: 80px;
}

body{
    background-color: black;
}

